<!DOCTYPE html>
<html>
<head>
    <title>Home | Habit Tracker</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'habits/css/style.css' %}">
</head>
<body>
    <header>
        <h2>Habit Tracker</h2>

        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'habit_logs' %}">Habit Logs</a>
        </nav>

        <section class="welcome">
            <p>Welcome, {{ request.user.username }}!</p>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" >Logout</button>
            </form>
        </section>
    </header>

    <main>
        <h1>Your Habits Today</h1>

        <a class="add" href="{% url 'add_habit' %}">➕ Add Habit</a>

        <ul>
            {% for log in logs %}
                <li class="list">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="log_id" value="{{ log.id }}">

                        <button type="submit">
                            {% if log.done %}
                                ✅
                            {% else %}
                                ⬜
                            {% endif %}
                        </button>

                        {{ log.habit.name }}
                    </form>
                    <a href="{% url 'delete_habit' log.habit.id %}">
                    ✖
                    </a>
                </li>
            {% empty %}
                <li>No habits yet.</li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
