<!DOCTYPE html>
<html>
<head>
    <title>Home | Habit Tracker</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'habits/css/style.css' %}">
</head>
<body>
    <h1>Habit Tracker</h1>

    <p>Welcome, {{ request.user.username }}!</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" >Logout</button>
    </form>

    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'habit_logs' %}">Habit Logs</a>
    </nav>

    <h2>Your Habits Today</h2>
    <a href="{% url 'add_habit' %}">➕ Add Habit</a>

    <ul>
        {% for log in logs %}
            <li>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="log_id" value="{{ log.id }}">

                    <button type="submit">
                        {% if log.done %}
                            ✅
                        {% else %}
                            ⬜
                        {% endif %}
                    </button>

                    {{ log.habit.name }}
                </form>
                <a href="{% url 'delete_habit' log.habit.id %}">
                ✖
                </a>
            </li>
        {% empty %}
            <li>No habits yet.</li>
        {% endfor %}
    </ul>
</body>
</html>
