<!DOCTYPE html>
<html>
<head>
    <title>Login | Habit Tracker</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'habits/css/style.css' %}">
</head>
<body>
    <main>
        <h1>Login</h1>
        <form class="regular" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>

        <p class="outside">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </main>
</body>
</html>
